*~
\#*\#
.emacs.desktop
.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
.cache/

build/
.gradle/
*.iml
.DS_Store
*.log
*.hprof
captures/
.externalNativeBuild/
.cxx/

local.properties

.idea/

*.jks
*.keystore
